<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.otio.otio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1088995511714-mmf6fc1v17d7le6qh701f9k5ciml9a54</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexMono-Light.ttf</string>
	</array>
</dict>
</plist>
